KUBELET_EXTRA_ARGS="--node-ip={{ vpn_ip }} --hostname-override={{ inventory_hostname }} --max-pods=16 --kube-reserved=cpu=500m,memory=512Mi --system-reserved=cpu=500m,memory=512Mi --node-labels=heteronetwork.io/control-plane-only=true --register-with-taints=node-role.kubernetes.io/control-plane=:NoSchedule,heteronetwork.io/control-plane-only=true:NoSchedule,heteronetwork.io/control-plane-only=true:NoExecute"
