HETERONETWORK_KUBEADM_PROFILE=control-plane-only
HETERONETWORK_KUBEADM_INTERFACE=heteronetwork0
HETERONETWORK_KUBEADM_NODE_IP={{ vpn_ip }}
HETERONETWORK_KUBEADM_NODE_NAME={{ inventory_hostname }}
HETERONETWORK_KUBEADM_CONTROL_PLANES={{ hnn_control_planes | join(',') }}
HETERONETWORK_KUBEADM_PREFERRED_CONTROL_PLANE={{ vpn_ip }}
HETERONETWORK_KUBEADM_MAX_PODS=16
