name: db-h
data-dir: /var/lib/heteronetwork-postgres-ha-dcs
listen-peer-urls: https://100.65.54.75:12380
initial-advertise-peer-urls: https://100.65.54.75:12380
listen-client-urls: https://127.0.0.1:12379,https://100.65.54.75:12379
advertise-client-urls: https://100.65.54.75:12379
listen-metrics-urls: http://127.0.0.1:12381
initial-cluster: db-b=https://100.96.127.54:12380,db-e=https://100.111.33.52:12380,db-g=https://100.94.130.38:12380,db-h=https://100.65.54.75:12380
initial-cluster-token: heteronetwork-postgres-dcs-v1
initial-cluster-state: existing
auto-compaction-mode: periodic
auto-compaction-retention: 1h
quota-backend-bytes: 2147483648
snapshot-count: 10000
max-snapshots: 5
max-wals: 5
logger: zap
log-level: info
client-transport-security:
  cert-file: /etc/heteronetwork/postgres-ha/pki/node.crt
  key-file: /etc/heteronetwork/postgres-ha/pki/node.key
  client-cert-auth: true
  trusted-ca-file: /etc/heteronetwork/postgres-ha/pki/ca.crt
peer-transport-security:
  cert-file: /etc/heteronetwork/postgres-ha/pki/node.crt
  key-file: /etc/heteronetwork/postgres-ha/pki/node.key
  client-cert-auth: true
  trusted-ca-file: /etc/heteronetwork/postgres-ha/pki/ca.crt
