HETERONETWORK_KUBEADM_PROFILE=standard
HETERONETWORK_KUBEADM_INTERFACE=heteronetwork0
HETERONETWORK_KUBEADM_NODE_IP={{ hnn_standard_ip }}
HETERONETWORK_KUBEADM_NODE_NAME={{ inventory_hostname }}
HETERONETWORK_KUBEADM_CONTROL_PLANES={{ (hnn_control_planes + [hnn_standard_ip]) | unique | join(',') }}
HETERONETWORK_KUBEADM_PREFERRED_CONTROL_PLANE={{ hnn_standard_ip }}
HETERONETWORK_KUBEADM_MAX_PODS=110
