# Configure each voter explicitly. Do not copy one voter's secret share to another VM.
HETERONETWORK_ADMIN_QUORUM_NODE_ID=node-REPLACE_WITH_THIS_VOTER_ID
HETERONETWORK_ADMIN_QUORUM_LISTEN=10.250.0.10:19790
HETERONETWORK_VPN_POOL=10.250.0.0/16
HETERONETWORK_WEB_OIDC_ISSUER_URL=http://console.heteronetwork.internal:18079/realms/heteronetwork
HETERONETWORK_WEB_OIDC_CLIENT_ID=heteronetwork-web
HETERONETWORK_WEB_OIDC_REQUIRED_EMAIL=REPLACE_WITH_OWNER_EMAIL
HETERONETWORK_ADMIN_QUORUM_OWNER_SUBJECT=REPLACE_WITH_IMMUTABLE_KEYCLOAK_USER_ID
