global
  log stdout format raw local0
  maxconn 2048

defaults
  log global
  mode tcp
  timeout connect 1s
  timeout client 30s
  timeout server 30s

resolvers kubernetes
  parse-resolv-conf
  accepted_payload_size 8192
  resolve_retries 3
  timeout resolve 1s
  timeout retry 1s
  hold valid 5s
  hold other 5s
  hold refused 5s
  hold nx 5s
  hold timeout 5s

listen redis-primary
  bind :6379
  mode tcp
  option tcp-check
  tcp-check connect
  tcp-check send-binary 2a310d0a24340d0a494e464f0d0a
  tcp-check expect string role:master
  server redis-0 heterocloud-flow-redis-node-0.heterocloud-flow-redis-headless.heterocloud-flow.svc.cluster.local:6379 check inter 1s fall 2 rise 2 resolvers kubernetes init-addr libc,none
  server redis-1 heterocloud-flow-redis-node-1.heterocloud-flow-redis-headless.heterocloud-flow.svc.cluster.local:6379 check inter 1s fall 2 rise 2 resolvers kubernetes init-addr libc,none
  server redis-2 heterocloud-flow-redis-node-2.heterocloud-flow-redis-headless.heterocloud-flow.svc.cluster.local:6379 check inter 1s fall 2 rise 2 resolvers kubernetes init-addr libc,none
  server redis-3 heterocloud-flow-redis-node-3.heterocloud-flow-redis-headless.heterocloud-flow.svc.cluster.local:6379 check inter 1s fall 2 rise 2 resolvers kubernetes init-addr libc,none
  server redis-4 heterocloud-flow-redis-node-4.heterocloud-flow-redis-headless.heterocloud-flow.svc.cluster.local:6379 check inter 1s fall 2 rise 2 resolvers kubernetes init-addr libc,none

frontend health
  bind :8404
  mode http
  http-request return status 200 if { nbsrv(redis-primary) gt 0 }
  http-request return status 503
